{% extends 'profile/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>Избранное</h1>
            {% if user.is_authenticated %}
                {% if favourite_movies %}
                   {% for movie in favourite_movies %}
                        <div class="col-4">
                            <div class="card">
                                <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="/movies/{{ movie.url }}/">{{ movie.title }}</a></h5>
                                    <div>{{ movie.rating|floatformat:1 }}</div>
                                    <div>{{movie.genres.all|join:", "}}</div>
                                    <div>{{ movie.year }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>У вас пока нет любимых фильмов</p>
                {% endif %}
            {% else %}
                <p>Вам необходимо авторизоваться</p>
            {% endif %}
        </div>
    </div>
 {% endblock content %}