{% extends 'profile/base.html' %}
{% block content %}

    {% if user.is_authenticated %}


           {% for movie in favourite_movies %}
                <div class="col-4">
                    <div class="card">
                        <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ movie.url }}/">{{ movie.title }}</a></h5>
    <!--                    <p class="card-text">{{ movie.description|truncatechars:250 }}</p>-->
                            <div>{{ movie.rating|floatformat:1 }}</div>
                            <div>{{movie.genres.all|join:", "}}</div>
                            <div>{{ movie.year }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% endif %}
 {% endblock content %}