{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <h1 class="col-12">{% trans "Sign Up" %}</h1>

      <p class="col-12 mb-5">{% blocktrans %} Уже зарегистрированы? <a href="{{ login_url }}">Авторизоваться</a>.{% endblocktrans %}</p>

      <div class="col-12 form-block no-gutters">
        <form class="signup custom-signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-dark mt-3">{% trans "Sign Up" %} &raquo;</button>
        </form>
      </div>
    </div>
  </div>



{% endblock %}
