<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %} {% endblock title %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
     <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="{% static '/js/scripts.js' %}"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row header-line">
                <div class="logo">
                    <a href="/">Films.ko</a>
                </div>
                <nav class="menu">
                    <ul>
                        <li><a href="/movies/">Фильмы</a></li>
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'profile' %}">{{user.username}}</a>
                            </li>
                            <li>
                                <a href="{% url 'favorite' %}">Избранное</a>
                            </li>
                        {% endif %}
                        <li>
                            {% if user.is_authenticated %}
                                <a href="{% url 'account_logout' %}">Выход</a>
                            {% else %}
                                <a href="{% url 'account_login' %}">Вход</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>