{% extends 'movies/base.html' %}
        {% block content %}
            <div class="container">
                <div class="row ">
                    <h1>Список фильмов</h1>
                </div>
                <div class="row ">
                    <div class="col-4">
                        {% include 'include/sidebar.html' %}
                    </div>
                    <div class="col-8">
                        <div class="row">
                            {% for movie in movie_list %}
                                <div class="col-4">
                                    <div class="card">
                                        <a href="/movies/{{ movie.url }}/">
                                            <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ movie.title }}</h5>
                                                <div>{{ movie.rating|floatformat:1 }}</div>
                                                <div>{{movie.genres.all|join:", "}}</div>
                                                <div>{{ movie.year }}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock content %}

